.App {
  text-align: center;
}

.Modal{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .Content{
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 500px;
  
    .Header{
      display: flex;
      justify-content: space-between;
      padding: 15px 30px;

      h1{
        color: hsl(229, 25%, 31%);
      }
      
      button{
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  
    .Footer{
      padding: 30px;
    }
  }
}

.App-header {
  color: #FFFFFF;
  border: 3px solid hsl(217, 16%, 45%);
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
  width: 40%;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;

  .Score{
    background-color: #FFFFFF;
    padding: 0 30px 0 30px;
    border-radius: 5px;
    line-height: 0.2;
    width: 12%;

    p{
      color: hsl(229, 64%, 46%);
    }

    h1{
      color: hsl(229, 25%, 31%);
      font-size: 3.5rem;
    }
  }
}

.App-main{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  
  .Choice{
    width: 30rem;
    height: 23rem;
  }

  .First-line{
    display: flex;
    justify-content: center;
    gap: 20%;
    flex-wrap: wrap;
  }

  .Paper, .Scissors, .Rock{
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .Paper{
    border: 15px solid hsl(230, 89%, 62%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .Scissors{
    border: 15px solid hsl(40, 84%, 53%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .Rock{
    border: 15px solid hsl(349, 71%, 52%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: relative;
    top: 50px;
  }

  .Triangle{
    position: relative;
    bottom: 65%;    
    z-index: -1;
  }
}

.App-footer{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;

  button{
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 40px 10px 40px;
  }
}

@media only screen and (max-width: 375px) { 
  .Modal{
    background-color: #FFFFFF;
    
    h1{
      position: absolute;
      inset: 0;
      margin-top: 30%;
    }

    button{
      position: absolute;
      inset: 0;
      margin-top: 170%;
    }
  }

  .App-header{
    width: 80%;
  }

  .App-footer{
    justify-content: center;
    padding-right: 0;
    margin-top: 30%;
  }
}